@import "./utils/config";

.mobile {
  display: none;
  position: fixed;
  @include media($tablet) {
    display: block;
    @include span-columns(12);
    transform: translateX(-10px);
    .mobileList {
      margin-top: 40px;
    }
    .mobileNav {
      background: $black;
      text-align: center;
      color: $white;
      padding: 20px 0;
      border-bottom: 1px solid $gray;
      text-decoration: none;
      &:first-child {
        border-top: 1px solid $gray;
      }
      &:hover {
        background: $gray;
      }
    }
  }
  div {
    display: none;
  }
  button {
    position: absolute;
    right: 15px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background:  url('/images/menu.png') center no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease;
    display: block;
    &.expanded {
      transform: rotate(90deg);
      background-color: transparent;
      border: 0;
    }
  }
  a {
    display: block;
  }
}
