@import "./utils/config";

.wire {
  h3 {
    margin: 15px 0 5px;
    &:hover {
      color: $twitterBlue;
      cursor: pointer;
    }
  }
  h4 {
    margin-top: 50px;
  }
  .date {
    color: $gray;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
}
